# .NET and Visual Studio files
.vscode/
.vs/
bin/
obj/
Debug/
Release/
*_ReSharper*/
*.suo
*.user
*.userprefs
*.sln.ide

# NuGet Packages
*.nupkg
**/packages/*
!**/packages/*.nupkg
!**/packages/repositories.config